div {
  text-align: center;
  margin-bottom: 10%;
}

input[name="search"] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.freeiconspng.com/uploads/search-icon-png-21.png');
  background-size: 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 60px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

:host ::ng-deep .black-overlay:first-child {
  top: -25%;
}
